body{
 font-family: sans-serif;
 /*background: #ebf9fb;*/
 position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;

  background-image:  url("images/bg3.jpg");
  background-position-y: top;
  background-color: rgba(38, 50, 56, 0.65);
  -webkit-background-size: cover;
          background-size: cover;
  z-index: -1;

}

h1{
 text-align: center;
 /*ketebalan font*/
 font-weight: 100;
}

.tulisan_atas{
 text-align: center;
 /*membuat semua huruf menjadi kapital*/
 text-transform: uppercase;
}

.panel_login{
 width: 350px;
 background: transparent;
 /*meletakkan form ke tengah*/
 margin: 80px auto;
 padding: 30px 20px;
 box-shadow: 0px 0px 100px 4px #d6d6d6;
}

label{
 font-size: 11pt;
}

.form_login{
 /*membuat lebar form penuh*/
 box-sizing : border-box;
 width: 100%;
 padding: 10px;
 font-size: 11pt;
 margin-bottom: 20px;
}

.tombol_login{
 background: #2aa7e2;
 color: white;
 font-size: 11pt;
 width: 100%;
 border: none;
 border-radius: 3px;
 padding: 10px 20px;

}

.tombol_user{
 background: #2aa7e2;
 color: white;
 font-size: 11pt;
 width: 100%;
 border: none;
 border-radius: 3px;
 padding: 9px 117px;
 margin-left: 

}

.link{
 color: transparent;
 text-decoration: none;
 font-size: 10pt;
}

.alert{
 background: transparent;
 color: white;
 padding: 10px;
 text-align: center;
 border:1px solid #b32929;
}